<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarSite</title>
    {% include 'head.html' %}
</head>

<body>
    {% block content %}

    {% endblock content %}
    <script src="{% static 'assets/scripts/responsive.menu.js' %}"></script>
    <script src="{% static 'assets/scripts/chosen.select.js' %}"></script>
    <script src="{% static 'assets/scripts/slick.js' %}"></script>
    <script src="{% static 'assets/scripts/echo.js' %}"></script>
    <!-- Put all Functions in functions.js -->
    <script src="{% static 'assets/scripts/functions.js' %}"></script>

</body>

</html>


